---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import allWines from '../assets/all-wines.png';
import allWinesMobile from '../assets/all-wines-mobile.png';
import glass from '../assets/glass.svg';
import leaf from '../assets/leaf.svg';
import hexagon from '../assets/hexagon.svg';
import { MuxPlayer } from '@mux/mux-player-astro';
---

<Layout title="Nextaz">
  <div class="flex min-h-screen flex-col items-center">
    <picture class="inset-0 h-full w-full">
      <source media="(min-width: 1024px)" srcset={allWines.src} />
      <Image src={allWinesMobile} class="w-full object-cover" loading="eager" alt="All Wines" />
    </picture>
    <div class="flex w-full flex-col items-center py-18 lg:flex-row lg:justify-evenly lg:py-9">
      <div class="flex">
        <div
          class="h-[36vw] max-h-175 min-h-88 w-[25vw] max-w-105 min-w-53 lg:min-h-116 lg:min-w-70"
          style="clip-path: polygon(0 0, 100% 50%, 0 100%);"
        >
          <MuxPlayer
            playbackId="HjiJrWEuFT95bsSTMhW8NDP8Zad4gszfcYcUHOUSLzk"
            metadata={{ video_title: 'wine bubbles' }}
            streamType="on-demand"
            autoplay
            muted
            loop
            nohotkeys
            class="h-full w-full"
            style={{
              '--controls': 'none',
              '--media-object-fit': 'cover',
              '--media-object-position': 'center',
            }}
          />
        </div>
        <div
          class="h-[36vw] max-h-175 min-h-88 w-[9vw] max-w-45 min-w-23 bg-black lg:min-h-116 lg:min-w-31"
        >
        </div>
      </div>
      <div class="mx-[2vw] mt-25 flex h-full min-h-140 w-95 flex-col justify-between lg:mt-0">
        {
          [
            {
              icon: leaf,
              text: 'Vinuri moderne create pentru un stil de viață tânăr și relaxat.',
            },
            {
              icon: hexagon,
              text: 'Soiuri locale reinterpretate într-un profil fresh și ușor de savurat.',
            },
            {
              icon: glass,
              text: 'Perfecte pentru terase, seri cu prietenii și momente fără complicații.',
            },
          ].map(({ icon, text }) => (
            <div class="flex flex-col items-center lg:items-start">
              <Image src={icon} alt="Wine Icon" />
              <p class="mt-4 text-center text-xl/loose lg:text-left">{text}</p>
            </div>
          ))
        }
      </div>
    </div>
    <h1
      class="animate-pulse bg-linear-to-r from-red-500 via-rose-400 to-red-600 bg-clip-text text-7xl font-bold text-transparent drop-shadow-[0_0_15px_rgba(239,68,68,0.5)]"
    >
      NEXTAZ
    </h1>
    <div
      id="command-modal"
      class="absolute top-75 flex w-80 translate-y-80 flex-col items-center border border-white/30 bg-white/1 px-7 py-10 opacity-0 shadow-2xl backdrop-blur-sm transition-all duration-1000 lg:w-160 lg:px-13 lg:py-16"
    >
      <h2 class="mb-4 text-center text-3xl leading-8 font-bold lg:text-[3.25rem] lg:leading-12">
        Pentru momentele<br />ce vin.
      </h2>
      <p class="mb-6 text-center text-lg lg:text-2xl">
        Eleganță, și autenticitate, create pentru momentele în care vrei să fie bine.
      </p>
      <a href="/shop" class="btn-add-to-cart text-lg lg:text-2xl"> Comandă </a>
    </div>
  </div>
</Layout>

<script>
  function revealModal() {
    const modal = document.getElementById('command-modal');
    if (!modal) return;
    setTimeout(() => {
      modal.classList.remove('opacity-0', 'translate-y-80');
      modal.classList.add('opacity-100', 'translate-y-0');
    }, 1000);
  }
  document.addEventListener('astro:page-load', () => {
    revealModal();
  });
</script>
