---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Nextaz">
  <div class="flex min-h-screen items-center justify-center">
    <h1
      class="animate-pulse bg-linear-to-r from-red-500 via-rose-400 to-red-600 bg-clip-text text-7xl font-bold text-transparent drop-shadow-[0_0_15px_rgba(239,68,68,0.5)]"
    >
      NEXTAZ
    </h1>
    <div class="absolute border border-white/30 bg-white/1 p-8 shadow-2xl backdrop-blur-sm">
      <h2 class="mb-4 text-center text-4xl font-bold">
        Pentru momentele<br />ce vin.
      </h2>
      <p class="mb-6 text-center text-lg">
        Eleganță, <span class="text-orange-500">prospețime</span> și autenticitate, create pentru momentele
        în care vrei să fie bine.
      </p>
      <button class="mx-auto block bg-black px-8 py-3 text-white"> Comandă </button>
    </div>
  </div>
</Layout>
