---
import logo from '../assets/logo.svg';
import cart from '../assets/cart.svg';
---

<header class="flex items-center justify-between px-6 py-4">
  <img src={logo.src} alt="nextaz" />
  <nav class="flex flex-row space-x-4">
    <a href="/">acasa</a>
    <a href="/shop">shop</a>
    <a href="/contact">contact</a>
    <a href="/cart">
      <img src={cart.src} alt="cos de cumparaturi" />
    </a>
  </nav>
</header>
